*.pyc
*.egg-info
*.pt
*.pth
*.zip
*.tar.gz
*.render*
*.ply
*.png

**/__pycache__/

uv.lock
/input_images_*
.history
.gradio

.vscode
ckpts

/checkpoints
/data
/logs
/outputs
/utils/debug.py
/configs/data/full.yaml
*_check/
/utils/utils_ceph.py

resize_demo_imgs.py
img_dir_to_video.py
.gradio/certificate.pem
